[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/TheCherno/glfw
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/TheCherno/imgui
	branch = docking
[submodule "vendor/implot"]
	path = vendor/implot
	url = https://github.com/csooriyakumaran/implot
[submodule "vendor/stb"]
	path = vendor/stb
	url = https://github.com/nothings/stb
[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "oak"]
	path = oak
	url = https://github.com/csooriyakumaran/oak
